.app{
 .filter
 {
    padding: 8px;
    display:flex;
     .button{
        margin-left:4px;
        margin-top:4px;
     }
 }  
 .table{
    padding: 70px;
 } 
}
.showInfo{
    
        span{
            font-weight: bold;
         }
   
 }